@import 'mixin'; /*全域變數與Mixin*/
@import 'reset';
@import 'base';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap'); //google font

// *{
//   outline: 1px solid #000;
// }
img{
  vertical-align: middle;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.title{
  font-size: $fs-xl;
  line-height: $lh-xs;
}
.header{
  background-image: url(../img/banner.png);
  height: 100vh;
  background-repeat: no-repeat; /*圖片不重複出現*/
  background-size: cover;  /*圖片自適應區塊大小*/
  background-position: center; /*圖片位置居中*/
  margin: 0 auto;
}
.header-content{
  h1{
    font-size: $fs-xxl;
    line-height: $lh-s;
  }
  .lh-l{
    line-height: $lh-l;
  }
}
.social-links{
  :not(:last-child){
    margin-right: 16px;
  }
  li{
    a img:hover{
      /*圖片縮放*/
      transform: scale(1.1, 1.1);
      transition: all 0.1ms ease;
    }
  }
}
.about{
  .profile{
    li{
      line-height: $lh-l;
      &:nth-child(3){
        line-height: $lh-m;
      }
    }
  }
  .experience{
    width: 384px;
    margin-left: auto;
    margin-right: auto;
    li{
      line-height: $lh-l;
    }
  }
  .dot{
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
      content: '';
      @include circle(22px, #891818);
      margin-right: 16px;
    }
  }
}
.brand{
  background: #000000;
  border: 1px solid #707070;
  .lh-l{
    line-height: $lh-l;
  }
  .fs-m{
    font-size: $fs-m;
  }
  .brand-pic{
    gap: 40px 24px; /*gap:上下間距 左右間距*/
  }
}
.works{
  .fs-m{
    font-size: $fs-m;
  }
  h3{
    font-size: $fs-m;
    line-height: $lh-xl;
  }
  .posters{
    gap: 48px 24px;
  }
}
.contact{
  background: #000000;
}
.contact-content{
  li a{
    text-decoration: none;
    &:hover{
      color: #4682b4;
    }
  }
}

/* flex */
.d-flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-content{
  &-center{
    justify-content: center;
  }
  &-between{
    justify-content: space-between;
  }
}
.align-items{
  &-center{
    align-items: center;
  }
}

/* 文字-粗體 */
.fw{
  &-medium{
    font-weight: 500;
  }
  &-bold{
    font-weight: 700;
  }
  &-black{
    font-weight: 900;
  }
}
/* 文字-斜體 */
.fst-italic{
  font-style: italic;
}
/* 文字-對齊 */
.text-center{
  text-align: center;
}
/*文字-顏色*/
.text-white{
  color: white;
}
/* 邊框 */
.border-t{
  border-top: 1px solid #000;
}

/*padding*/
.pt{
  &-7{
    padding-top: 28px;
  }
  &-14{
    padding-top: 56px;
  }
  &-16{
    padding-top: 64px;
  }
}
.pb{
  &-16{
    padding-bottom: 64px;
  }
}

/*margin*/
.mb{
  &-1{
    margin-bottom: 4px;
  }
  &-2{
    margin-bottom: 8px;
  }
  &-3{
    margin-bottom: 12px;
  }
  &-4{
    margin-bottom: 16px;
  }
  &-5{
    margin-bottom: 20px;
  }
  &-6{
    margin-bottom: 24px;
  }
  &-7{
    margin-bottom: 28px;
  }
  &-8{
    margin-bottom: 32px;
  }
  &-10{
    margin-bottom: 40px;
  }
  &-14{
    margin-bottom: 56px;
  }
  &-16{
    margin-bottom: 64px;
  }
  &-17{
    margin-bottom: 68px;
  }
  &-36{
    margin-bottom: 144px;
  }
  &-40{
    margin-bottom: 160px;
  }
}