/* 邊框 */
.border-t{
  border-top: 1px solid #000;
}

/*padding*/
.pt{
  &-7{
    padding-top: 28px;
  }
  &-14{
    padding-top: 56px;
  }
  &-16{
    padding-top: 64px;
  }
}
.pb{
  &-16{
    padding-bottom: 64px;
  }
}

/*margin*/
.mb{
  &-1{
    margin-bottom: 4px;
  }
  &-2{
    margin-bottom: 8px;
  }
  &-3{
    margin-bottom: 12px;
  }
  &-4{
    margin-bottom: 16px;
  }
  &-5{
    margin-bottom: 20px;
  }
  &-6{
    margin-bottom: 24px;
  }
  &-7{
    margin-bottom: 28px;
  }
  &-8{
    margin-bottom: 32px;
  }
  &-10{
    margin-bottom: 40px;
  }
  &-14{
    margin-bottom: 56px;
  }
  &-16{
    margin-bottom: 64px;
  }
  &-17{
    margin-bottom: 68px;
  }
  &-36{
    margin-bottom: 144px;
  }
  &-40{
    margin-bottom: 160px;
  }
}